-- Migration script to add Daily Timeline Routines table

-- 1. ROUTINES (for Daily Timeline)
CREATE TABLE IF NOT EXISTS routines (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
    title TEXT NOT NULL,
    color TEXT DEFAULT '#58CC02',
    start_time TIME NOT NULL,
    end_time TIME NOT NULL,
    days_of_week INTEGER[] DEFAULT '{1,2,3,4,5,6,0}', -- 0=Sun, 1=Mon, ..., 6=Sat
    is_active BOOLEAN DEFAULT true,
    created_at TIMESTAMPTZ DEFAULT now(),
    updated_at TIMESTAMPTZ DEFAULT now()
);

ALTER TABLE routines ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users manage own routines" ON routines
FOR ALL USING (user_id = auth.uid());

-- Optional: Add trigger to auto-update updated_at
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = now();
    RETURN NEW;
END;
$$ language 'plpgsql';

DO $$ 
BEGIN 
    IF NOT EXISTS (SELECT 1 FROM pg_trigger WHERE tgname = 'update_routines_updated_at') THEN
        CREATE TRIGGER update_routines_updated_at
            BEFORE UPDATE ON routines
            FOR EACH ROW
            EXECUTE FUNCTION update_updated_at_column();
    END IF;
END $$;

-- 2. SEED DATA for existing users
-- This assigns a basic 'Morning Routine' and 'Work Block' to all existing users.
DO $$
DECLARE
    user_rec RECORD;
BEGIN
    FOR user_rec IN SELECT id FROM auth.users LOOP
        -- Morning Routine (Mon-Fri)
        IF NOT EXISTS (SELECT 1 FROM routines WHERE user_id = user_rec.id AND title = 'Morning Routine') THEN
            INSERT INTO routines (user_id, title, color, start_time, end_time, days_of_week)
            VALUES (user_rec.id, 'Morning Routine', '#CE82FF', '07:00:00', '08:30:00', '{1,2,3,4,5}');
        END IF;

        -- Deep Work (Mon-Fri)
        IF NOT EXISTS (SELECT 1 FROM routines WHERE user_id = user_rec.id AND title = 'Deep Work') THEN
            INSERT INTO routines (user_id, title, color, start_time, end_time, days_of_week)
            VALUES (user_rec.id, 'Deep Work', '#FF9600', '09:00:00', '12:00:00', '{1,2,3,4,5}');
        END IF;
    END LOOP;
END $$;
